@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #52525b;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71717a;
}
